node_modules/
dist/
build/
.cache/
.vite/
bun.lockb
package-lock.json
yarn.lock
.env
.env.local
.DS_Store
.idea/
.vscode/
coverage/
coverage-final.json
npm-debug.log*
.eslintcache
*.log
/.turbo/
/.pnp/
*.tgz
